{% extends 'admin/index.html.twig' %}


{% block title %} Ajouter utilisateur {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire d'ajout </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="example-wrapper">
                        <ul class="errors">
                            {{ form_errors(form.nom) }}
                            {{ form_errors(form.prenom) }}
                            {{ form_errors(form.email) }}
                            {{ form_errors(form.password) }}

                        </ul>
                        {{ form_start(form)}}
                        <div class="form-group">
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.prenom) }}
                            {{ form_widget(form.prenom) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password) }}
                            {{ form_widget(form.password) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.domaine) }}
                            {{ form_widget(form.domaine) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.type) }}
                            {{ form_widget(form.type) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.photo) }}
                            {{ form_widget(form.photo) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.etat) }}
                            {{ form_widget(form.etat) }}
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
{% endblock %}
