{% extends 'admin/index.html.twig' %}


{% block title %} Liste des utilisateurs {% endblock %}

{% block body %}
    {%  if app.session.flashBag.has('info') %}
        <div class="alert alert-success" xmlns="http://www.w3.org/1999/html">
            {% for msg in app.session.flashbag.get('info') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
        <!-- Main content -->

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste des utilisateurs</h3>
                                <a href="/blocked">
                                    <button class="btn"><i class="fa fa-ban"></i><h3 class="card-title">Blocked users</h3></button>
                                </a>
                            </div>

                            <form action="/trier" method="get" >
                                <button class="btn btn-light" type="submit" ><i class="fas fa-arrow-circle-up"></i></button>
                            </form>
                            <form action="/trierdown" method="get" >
                                <button class="btn btn-light" type="submit" ><i class="fas fa-arrow-circle-down"></i></button>
                            </form>

                                <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                                    <i class="fas fa-search"></i>


                                </a>
                                <div class="navbar-search-block">

                                    <form class="form-inline" method="post" action="/search">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-navbar" name="searchkey" type="search" placeholder="Search" aria-label="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-navbar" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            <!-- /.card-header -->
                            <div class="card-body">

                                <table id="example2"  width="500" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Email</th>
                                        <th>Domaine</th>
                                        <th>Type</th>
                                        <th>Photo</th>
                                        <th>Etat</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for f in liste%}
                                        <tr>
                                            <td> {{ f.id}} </td>
                                            <td> {{ f.nom}} </td>
                                            <td> {{ f.prenom}} </td>
                                            <td> {{ f.email}} </td>
                                            <td> {{ f.domaine}} </td>
                                            <td> {{ f.type}} </td>
                                            <td> <img height="30" width="30" src="{{ asset('dist/img/')~f.photo }}"> </td>
                                            <td> {{ f.etat}} </td>
                                            <td>
                                               <a href="{{ path('UpdateUser', {'id': f.id}) }}">
                                                <button class="btn"><i class="fa fa-pencil-alt"></i></button>
                                               </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('DeleteUser', {'id': f.id}) }}">
                                                <button class="btn"><i class="fa fa-trash-alt"></i></button>
                                                </a>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
{% endblock %}