{% extends 'admin/index.html.twig' %}


{% block title %} Recherche {% endblock %}
{% block body %}

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Résultats de recherche</h3>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <a href="/allusers">Go back to list</a>
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Email</th>
                                        <th>Domaine</th>
                                        <th>Type</th>
                                        <th>Photo</th>
                                        <th>Etat</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for f in liste%}
                                        <tr>
                                            <td> {{ f.id}} </td>
                                            <td> {{ f.nom}} </td>
                                            <td> {{ f.prenom}} </td>
                                            <td> {{ f.email}} </td>
                                            <td> {{ f.domaine}} </td>
                                            <td> {{ f.type}} </td>
                                            <td> <img height="30" width="30" src="{{ asset('dist/img/')~f.photo }}"> </td>                                            <td> {{ f.etat}} </td>
                                            <td>
                                                <a href="{{ path('UpdateUser', {'id': f.id}) }}">
                                                    <button class="btn"><i class="fa fa-pencil-alt"></i></button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('DeleteUser', {'id': f.id}) }}"></a>
                                                <button class="btn"><i class="fa fa-trash-alt"></i></button>
                                                </a>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
